# Environment variables example
VITE_NEON_AUTH_URL=https://ep-curly-king-acas4rmr.neonauth.sa-east-1.aws.neon.tech/neondb/auth
VITE_NEON_DATABASE_URL=postgresql://neondb_owner:npg_d8cJlDu0MEtK@ep-curly-king-acas4rmr-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require
