# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Dependency directories
node_modules/
jspm_packages/

# TypeScript storage
*.tsbuildinfo

# Output build
dist/
dist-ssr/
*.local

# Environment variables (Nunca subir ao Git/Vercel)
.env
.env.*
!.env.example
.env.local
.env.*.local
.env.development
.env.test
.env.production

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
